/* put open sans font in body */
body {
    font-family: 'League Spartan', sans-serif;
}

/* Header */
.header img{
    width: 10%;
}


.banner {
    background-color: #213458;
}

.title{
    color: white;
}

.app-name {
    color: white;
    padding-top: 13px; 
}


/* Instructions */

.main{
    margin-top: 10%;
}

/* make instructions class have a border of thickness 1 and center the div tag */
.instructions {
    border: 1px solid black;
    text-align: center;
}

/* write css to make main-body have a border around it */
.main-body {
    border: 1px solid black !important;
}

/* Disclaimer */
.footer {
    background-color: rgb(224, 224, 224);
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
}

.footer-text {
    text-align: center;
    padding-top: 20px;
}


/* Results Bar Chart */
.results_chart{
    width: 500px;
    height: auto;
}

.results{
    margin-top: 5%;
}


/* Responsive */
    /* Home Page */
@media only screen and (max-width: 30%) {

    .header img{
        width: 20%;
    }

    .app-name{
        font-size: 35px;
        padding-top: 22px;
    }
    .inst-box{
        margin-top: 100px;
        font-size: 15px;
        width: 90%;
    }
    .w-50{
        width: 90% !important;
    }

    .results_chart{
        width: 95%;
        height: auto;
    }

}

