<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabsense2</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-XoVhKmJ+U6G0ow6CwUVd39xU6jTkgTQf/wKXHibW/YOMcMvcdIOI+YYxmnfMr8WbAvfoFVKtjz7tX9ldt8WnTw==" crossorigin="anonymous" />

</head>
<body>
    <h1>Diabsense</h1>
    {%block scripts%}
    {%endblock scripts%}

    
    {% block content %} 
    {% endblock%}
</body>
</html>