{% extends 'base.html' %}
{% load static %}

<!-- load css file styles.css -->
{%block styles%}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{%endblock styles%}


  
{% block content %}
     <!--create a div called main-body that has a border around it and some text inside make sure it is centered  -->

     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <div class="main">
        <div class="container border border-4 border-dark rounded w-50 p-2 inst-box">
            <div class="row">
                <div class="col-md-12">
                    <h2>Instructions</h2>
                    <ol>
                        <li>Keep the camera steady to avoid blur and shaky images.</li>
                        <li>Wound should be in the center of image and focused.</li>
                        <li>Picture should be taken under proper lighting.</li>
                        <li>Hold the camera parallel to the foot.</li>
                        <li>After the image is taken, click on the "Choose File" button and select it.</li>
                        <li>Click on the "Upload" button to obtain the results.</li>
                    </ol>
                    <form method="post" enctype="multipart/form-data" class = "d-flex justify-content-center mb-2">  
                        {% csrf_token %}  
                        {{ form.image }}
                        <button type="submit" class="border border-2 border-primary rounded-end bg-primary text-white" id="start-button">
                            Upload
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div id="loading">
            <div class="spinner"></div>
        </div>
        <style>
            #loading {
                display: none;
                text-align: center;
                margin-top: 20px;
            }
            
            .spinner {
                width: 50px;
                height: 50px;
                border: 6px solid #213458;
                border-top-color: #f8f3f3;
                border-radius: 50%;
                animation: spin 1.25s linear infinite;
                /* center the spinner */
                margin: auto;
            }
            
            @keyframes spin {
                0% {
                transform: rotate(0);
                }
                100% {
                transform: rotate(360deg);
                }
            }
        </style>
            
        <script>
            $(document).ready(function() {
                // Hide the loading indicator initially
                $('#loading').hide();
            
                // Add a submit event listener to the form
                $('form').on('submit', function() {
                // Show the loading indicator
                $('#loading').show();
                });
            });
        </script>
    
    
    
    <!-- reset the web page on hitting refresh -->
    
    {% for message in messages %}
        <div id="toast" class="toast align-top text-center mx-auto mt-3 hide" style="width:fit-content; height:fit-content; background-color: rgb(255, 243, 205);" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body">
                <span id="toast-message"></span>
            </div>
        </div>
        <script>
            function showToast(message) {
              // Set the message text
              document.getElementById("toast-message").innerHTML = message;
          
              // Show the toast
              const toast = document.getElementById("toast");
              toast.classList.remove("hide");
              toast.classList.add("show");
          
              // Hide the toast after 5000ms
              setTimeout(function(){
                toast.classList.remove("show");
                toast.classList.add("hide");
              }, 5000);
            }
          </script>
          <script>
            showToast("{{ message }}");
          </script>
    {% endfor %}
    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script> 
{% endblock%}
